<h1>Liste des contacts</h1>
<ul class="contacts">
    {% for contact in contacts %}
        <li>
            <a href="{{ path('app_contact_show', {id:contact.id}) }}"><span class="lastname">{{ contact.lastname }}</span>, <span class="firstname">{{ contact.firstname }}</span></a>
            <h6>
                {% if show_category??true and contact.category is not null %}
                <a class="nav-link" href="{{ path('app_category_show', {id:contact.category.id}) }}">
                    <span class="badge bg-secondary">{{ contact.category.name  }}</span>
                </a>
                {% endif %}
            </h6>
        </li>
    {% endfor %}
</ul>
