
{% block body %}
    <h1>{{titre}}</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstname, {'label' : 'Prénom' }) }}
    {{ form_row(form.lastname, {'label' : 'Nom' }) }}
    {{ form_row(form.email, {'label' : 'email' }) }}
    {{ form_row(form.phone, {'label' : 'téléphone' }) }}
    {{ form_row(form.category, {'label' : 'categorie', 'placeholder' : 'Categorie ?'}) }}
    <input class="btn btn-primary w-100" type="submit" value="{{ submit_label }}">
    {{ form_end(form) }}
{% endblock %}



