{% extends 'base.html.twig' %}
{% set titre = "Création d'un nouveau contact" %}
{% block title %}{{titre}}{% endblock %}

{% block body %}
    <h1>{{titre}}</h1>
    {{ form_start(form, {'method' :'POST'}) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary w-100" type="button" value="Créer">
    {{ form_end(form) }}
{% endblock %}



