{% extends 'base.html.twig' %}
{% set titre = "Création d'un nouveau contact" %}
{% block title %}{{titre}}{% endblock %}

{% block body %}
    <h1>{{titre}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary w-100" type="submit" value="Ajouter">
    {{ form_end(form) }}
{% endblock %}



