{% extends 'base.html.twig' %}

{% block title %} {{ contact.lastname }}, {{ contact.firstname }} {% endblock %}

{% block body %}

    <h1>{{ contact.lastname }}, {{ contact.firstname }}</h1>
    <dl>
        <dt> prénom</dt>
        <dd> {{ contact.firstname }}</dd>

        <dt> nom</dt>
        <dd> {{ contact.lastname }}</dd>

        <dt> email</dt>
        <dd> {{ contact.email }}</dd>
        <dt> téléphone</dt>
        <dd> {{ contact.phone }}</dd>
        <dt> catégorie</dt>
        <dd> {{ contact.category.name ?? 'Aucune'}} </dd>
    </dl>
{% endblock %}



